.project-body{

  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;/**/

  h2, h3, h4, h5, h6, p, ul, ol{
    max-width: 36rem;
    //align-self: center;
    //flex-basis: 30em;
    //display: block;
    @include respond-to(l){
      margin: 0 auto 1rem auto;
    }
  }
}

/*.project-name {
  color: inherit;
  margin-top: 0;
  margin-bottom: 0.1rem;
  text-transform: uppercase;

  @include respond-to(l) {
    font-size: 3.25rem;
  }

  @include respond-to(m) {
    font-size: 2.25rem;
  }

  @include respond-to(s) {
    font-size: 1.75rem;
  }
}*/

.project-description {
  color: inherit;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-weight: normal;
  opacity: 0.85;


  @include respond-to(xl) {
    font-size: ms(1);
  }

  @include respond-to(l) {
    font-size: ms(1);
  }

  @include respond-to(m) {
    font-size: ms(1);
  }

  @include respond-to(s) {
    font-size: ms(1);
  }
}

