.main-content {
  word-wrap: break-word;
  max-width: 50em;


  /*:first-child {
    margin-top: 0;
  }*/

  @include respond-to(xl) {
    margin-left: 7vw;
  }
  
  @include respond-to(l) {
    max-width: 64rem;
    padding: 2rem 7vw !important;
    margin: 0 auto;
    //margin-left: 4vw;
  }

  @include respond-to(m) {
    padding: 2rem 4rem;
  }

  @include respond-to(s) {
    padding: 2rem 1rem;
  }  
}